apiVersion: apps/v1
kind: Deployment
metadata:
  name: bff
  namespace: sre-dashboard
spec:
  selector:
    matchLabels:
      app: bff
  template:
    metadata:
      labels:
        app: bff
    spec:
      containers:
        - name: bff
          image: bff:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: bff
  namespace: sre-dashboard
spec:
  selector:
    app: bff
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
